<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Week 2 exercises</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <h1>Week 2 exercises:</h1>

    <p><a th:href="@{/hello?age=18&name=John}">Exercise 1 - Hello Thymeleaf (name John, age 18)</a></p>
    <p><a th:href="@{/hello2}">Exercise 2 - Handling Lists</a></p>
    <p><a th:href="@{/hello3}">Exercise 3 - Friends</a></p>
    <p><a th:href="@{/hello4}">Exercise 4 - Friend List</a></p>

  </body>
</html>